[Desktop Entry]
Name=BM64TSARecompiled
Type=Application
Terminal=false
Icon=BM64TSARecompiled
Exec=BM64TSARecompiled
GenericName=BM64TSARecompiled
Categories=Game;

